.pin-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2C0A35; /* Match the background with other pages */
    color: #71f2e3; /* Teal text color */
    padding: 2rem;
    text-align: center;
}

.pin-input-container h2 {
    font-family: 'Cinzel Decorative', serif;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #71f2e3;
}

.pin-input-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px; /* Limit the form width */
}

.pin-input-container input {
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #71f2e3;
    background-color: #000;
    color: #71f2e3;
    text-align: center;
    font-size: 1.2rem;
    width: 100%; /* Full width of the input within the form */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.pin-input-container input::placeholder {
    color: #71f2e3; /* Teal color for the placeholder text */
}

.pin-input-container button {
    padding: 10px 20px;
    background-color: #000;
    color: #71f2e3;
    border: 1px solid #71f2e3;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 0px 0px 10px #71f2e3;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 100%; /* Full width of the button within the form */
}

.pin-input-container button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 0px 20px #71f2e3;
}